@import '../../styles/_colors.scss';

.country-list {
  height: calc(100vh - 346px);
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: $light-black;
  }

  .country-row {
    border-bottom: 1px solid $background-color;

    &:hover {
      cursor: pointer;
    }

    img {
      vertical-align: middle;
      margin-right: 20px;
    }

    p {
      display: inline-block;
      width: 80%;

      span {
        float: right;
      }
    }
  
    .numbers {
      color: $red-color;
      font-weight: bold;
    }
  }
}
