$background-color: #262626;
$blue-color: #3333ff;
$gray-color: #ccc;
$green-color: #4fc974;
$green-color-hover: #2a8946;
$light-black: #6b6b6b;
$purple-color: #571aab;
$purple-color-hover: #2d0d59;
$red-color: #e60036;
$red-color-hover: #80001e;
$sidebar-background-color: #1d1d1d;
