$only-desktop: 1440px;
$laptop-width: 1024px;
$tablet-width: 768px;

@mixin only-desktop {
  @media (min-width: #{$only-desktop}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}