@import './_colors.scss';

.flex-grid {
  display: flex;
  
  .col {
    // flex: 1;

    &.sidebar {
      width: 20%;
      background: $sidebar-background-color;
    }

    &.main-content {
      width: 80%;
    }

    &.sidebar,
    &.main-content {
      padding: 15px;
      padding-bottom: 0;
    }
  }
}
