@import './_colors.scss';
@import './_mediaQueries.scss';

.flex-grid {
  display: flex;

  .loader-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
  }
  
  .col {
    // flex: 1;

    &.sidebar {
      width: 20%;
      background: $sidebar-background-color;
      padding-bottom: 0 !important;
    }

    &.main-content {
      width: 80%;
      padding-bottom: 30px !important;
    }

    &.sidebar,
    &.main-content {
      padding: 15px;
      box-sizing: border-box;
    }
  }
}

.confirmed-color {
  color: $red-color;
}

.deaths-color {
  color: $purple-color;
}

.recovered-color {
  color: $green-color;
}

.currently-sick-color {
  color: $blue-color;
}

@include only-desktop {
  .flex-grid {    
    .col {  
      &.main-content {
        top: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        overflow-y: scroll;
        overflow-x: hidden;
      }
    }
  }
}

@include tablet {
  .flex-grid {
    display: block;
    .col {
      &.sidebar,
      &.main-content {
        width: 100%;
      }

      .display-none-tablet {
        display: none;
      }

      .display-block-tablet {
        display: block;
      }
    }
  }
}
