@import './_colors.scss';

.flex-grid {
  display: flex;
  
  .col {
    // flex: 1;

    &.sidebar {
      width: 20%;
      background: $sidebar-background-color;
      padding-bottom: 0 !important;
    }

    &.main-content {
      width: 80%;
      padding-bottom: 30px !important;
    }

    &.sidebar,
    &.main-content {
      padding: 15px;
    }
  }
}

.confirmed-color {
  color: $red-color;
}

.deaths-color {
  color: $purple-color;
}

.recovered-color {
  color: $green-color;
}

.currently-sick-color {
  color: $blue-color;
}
